:root {
    --progressbar-top-offset: 15%;
    --progressbar-left-offset: 80vw;
    --progressbar-width: 10vw;
    --statue-left-offset: 30vw;
    --bubbles-top-offset: 30vh;
    --color-brightest-yellow: #ffff00;
    --color-bright-yellow: #DDCF28;
    --color-yellow: #5C662C;
    --color-blue: #25535D;
    --color-background: #151F23;
}

.column {
    float: left;
    height: 95vh;
}

.column.left {
    position: relative;
}

.left,
.right {
    width: 25%;
}

.middle {
    width: 50%;
}

/*Heartbeat*/
body {
    background-color: var(--color-background);
}

#displayMessage {
    color: var(--color-background);
    font-size: 55px;
    left: calc(var(--statue-left-offset) + 14vw);
    top: 77vh;
    position: absolute;
    -webkit-text-stroke: 0.2px white;
    width: 200px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pulse {
    height: 100px;
    width: 200px;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.pulse:after {
    content: "";
    background: var(--color-background);
    position: absolute;
    z-index: -1;
    left: 2px;
    right: 2px;
    bottom: 0;
    top: 16px;
    margin: auto;
    height: 3px;
}

.pulse:before {
    content: "";
    display: block;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200px 100px"><polyline fill="none" stroke-width="3px" stroke="%23C9C947" points="2.4,58.7 70.8,58.7 76.1,46.2 81.1,58.7 89.9,58.7 93.8,66.5 102.8,22.7 110.6,78.7 115.3,58.7 126.4,58.7 134.4,54.7 142.4,58.7 197.8,58.7 "/></svg>') 0 0 no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    animation: 400ms pulse linear forwards;
}

@keyframes pulse {
    0% {
        clip: rect(0, 0, 100px, 0);
    }

    10% {
        clip: rect(0, 66.6666666667px, 100px, 0);
    }

    38% {
        clip: rect(0, 133.3333333333px, 100px, 0);
    }

    48% {
        clip: rect(0, 200px, 100px, 0);
    }

    52% {
        clip: rect(0, 200px, 100px, 0);
    }

    62% {
        clip: rect(0, 200px, 100px, 66.6666666667px);
    }

    90% {
        clip: rect(0, 200px, 100px, 133.3333333333px);
    }

    100% {
        clip: rect(0, 200px, 100px, 200px);
    }
}

.bubble {
    position: absolute;
    width: 7px;
    height: 7px;
    top: var(--bubbles-top-offset);
    left: 16vw;
    border-radius: 50%;
    background-color: var(--color-brightest-yellow);
    opacity: 0.9;
    visibility: hidden;
    animation: bubble1-h-movement linear, bubble-scale-movement ease-in-out alternate, bubble1-v-movement ease-in-out alternate;
    animation-delay: 350ms;
    animation-duration: 1600ms;
}

@keyframes bubble1-h-movement {
    0% {
        visibility: visible;
        margin-left: 4vw;
        background-color: var(--color-brightest-yellow);
    }

    50% {
        background-color: var(--color-bright-yellow);
    }

    99% {
        margin-left: 63vw;
        background-color: var(--color-yellow);
    }

    100% {
        visibility: hidden;
    }
}

@keyframes bubble1-v-movement {
    0% {
        margin-top: 135px;
    }

    20% {
        margin-top: 110px;
    }

    40% {
        margin-top: 135px;
    }

    60% {
        margin-top: 110px;
    }

    80% {
        margin-top: 135px;
    }

    100% {
        margin-top: 110px;
    }
}

@keyframes bubble-scale-movement {
    0% {
        transform: scale(1.4);
    }

    20% {
        transform: scale(0.8);
    }

    40% {
        transform: scale(1.4);
    }

    60% {
        transform: scale(0.8);
    }

    80% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(0.8);
    }
}

.beforeExplodingProgressbar {
    position: absolute;
    left: var(--progressbar-left-offset);
    height: 400px;
    top: var(--progressbar-top-offset);
    width: var(--progressbar-width);
    border-radius: 25px;
    border-style: solid;
    z-index: 5;
    background-color: var(--color-yellow);
    animation: beforeProgressbarExplosion 5s;
}

@keyframes beforeProgressbarExplosion {
    100% {
        background-color: #C9C947;
        left: calc(var(--progressbar-left-offset) - 1vw);
        width: calc(var(--progressbar-width) + 1vw);
    }
}

.explodingProgressbar {
    position: fixed;
    top: 80px;
    right: 100px;
    padding: 100px;
    border-radius: 50px;
    margin: 10px;
    border: 0;
    background-color: #C9C947;
    z-index: 10;
    transition-duration: 1s;
    animation: progressbarExplosion 20s;
    height: 255px;
    width: 1px;
}

@keyframes progressbarExplosion {
    10% {
        margin: 0;
    }

    20% {
        border-radius: 0;
        top: 0px;
        right: 0px;
    }

    100% {

        padding: max(200vw, 200vh);
        margin: 0px;
        right: -1vw;
        top: -1vh;
    }
}