@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@implements IAsyncDisposable

<PageTitle>Index</PageTitle>

<img src="face.jpg" style="transform: rotate(@rotationValue); float: left" />

<div style="float: right; font-size: 200px">@currentHeartbeat</div>

@code {
    private HubConnection? hubConnection;

    string rotationValue = "25deg";
    string currentHeartbeat = "";

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
        .WithUrl(Navigation.ToAbsoluteUri("/heartbeatHub"))
        .Build();

        hubConnection.On<int>("ReceiveHeartbeat", (heartbeat) =>
        {
            currentHeartbeat = $"{heartbeat}";

            if (rotationValue == "25deg")
                rotationValue = "-25deg";
            else
                rotationValue = "25deg";
            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    private async Task Send()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("SendHeartbeat", 5);
        }
    }

    public bool IsConnected =>
    hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}