@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@implements IAsyncDisposable
@inject IJSRuntime JS
@inject ILogger<Index> Logger

<PageTitle>Index</PageTitle>
<audio id="metronomeSoundPlayer" src="MetronomeSound.wav">
    Your browser does not support the html audio tag.
</audio>
<img id="face" src="face.jpg" style="margin: auto; display: block;" />

<div style="float: left; color: white;">
    Heartbeat: @currentHeartbeat,- <br />
    Average Heartbeat: @averageHeartbeat,<br />
    Progress: @progressToString<br />
</div>

<div style="position: relative;">
    <div
        style="position: absolute; left: 2px; height: 100px; width: 20px; border-style: solid; border-color: black; background: linear-gradient(to top, black @progressToString%, white @progressToString%);">
    </div>


    <div style="position: absolute; width: 27px; top: 66px; height: 2px; background-color: white;"></div>


    <div style="position: absolute
; width: 27px; top: 33px; height: 2px; background-color: white;"></div>


</div>



@code {
    private HubConnection? hubConnection;

    string currentHeartbeat = "";
    int progress = 0;
    double averageHeartbeat = 70;
    double minAverageHeartbeat = 70;
    int maxAverageHeartbeat = 115;
    string progressToString = "";
    string spannweiteToString = "";
    double spannweiteBig = 1;
    string averageHeartbeatToString = "";

    int firstLevel = 0;
    int secondLevel = 0;

    List<int> receivedHeartbeats = new List<int>();

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
        .WithUrl(Navigation.ToAbsoluteUri("/heartbeatHub")).Build();


        var soundMetronome = await JS.InvokeAsync<int>("setupSoundMetronome", "1000");
        //double spannweite = maxAverageHeartbeat - minAverageHeartbeat;
        //firstLevel = Convert.ToInt32((spannweite * 0.3) + minAverageHeartbeat);
        //secondLevel = Convert.ToInt32((spannweite * 0.6) + minAverageHeartbeat);

        hubConnection.On<int>("ReceiveHeartbeat", (heartbeat) =>
        {
            receivedHeartbeats.Add(heartbeat);
            Logger.LogInformation("Heartbeat: " + heartbeat);

            currentHeartbeat = $"{heartbeat}";

            double spannweite = maxAverageHeartbeat - minAverageHeartbeat;
            spannweiteToString = spannweite.ToString();
            spannweiteBig = spannweite;

            averageHeartbeat = (int)receivedHeartbeats.Average();
            averageHeartbeatToString = averageHeartbeat.ToString();

            progress = (int)(((averageHeartbeat - minAverageHeartbeat) / spannweite) * 100);

            Logger.LogInformation("Progess: " + progress);
            progressToString = progress.ToString();

            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }



    public bool IsConnected => hubConnection?.State == HubConnectionState.Connected;


    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}