@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@implements IAsyncDisposable
@inject IJSRuntime JS

<PageTitle>Index</PageTitle>
<audio id="metronomeSoundPlayer" src="MetronomeSound.wav">
    Your browser does not support the html audio tag.
</audio>
<img id="face" src="face.jpg" style="margin: auto; display: block;" />

<div style="float: left; color: white;">
    Heartbeat: @currentHeartbeat
</div>

<div
    style="height: 50px; width: 10px; border-style: solid; border-color: black; background: linear-gradient(to top, black @progressToString%, white @progressToString%);">
</div>

@code {
    private HubConnection? hubConnection;

    string currentHeartbeat = "";
    string stopwatchToString = "";
    int progress = 0;
    double averageHeartbeat = 70;
    double minAverageHeartbeat = 70;
    int maxAverageHeartbeat = 115;
    string progressToString = "";
    string spannweiteToString = "";
    string averageHeartbeatToString = "";
    double spannweiteBig = 1;

    List<int> receivedHeartbeats = new List<int>();

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
        .WithUrl(Navigation.ToAbsoluteUri("/heartbeatHub"))
        .Build();

        var soundMetronome = await JS.InvokeAsync<int>("setupSoundMetronome", "1000");

        hubConnection.On<int>("ReceiveHeartbeat", (heartbeat) =>
        {
            receivedHeartbeats.Add(heartbeat);

            currentHeartbeat = $"{heartbeat}";

            double spannweite = maxAverageHeartbeat - minAverageHeartbeat;
            spannweiteToString = spannweite.ToString();
            spannweiteBig = spannweite;

            averageHeartbeat = (int)receivedHeartbeats.Average();
            averageHeartbeatToString = averageHeartbeat.ToString();

            progress = (int)((averageHeartbeat - minAverageHeartbeat) / spannweite) * 100;

            progressToString = progress.ToString();

            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    private async Task Send()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("SendHeartbeat", 5);
        }
    }

    public bool IsConnected =>
    hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}